.register-form {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:0rem 10rem;
}
.register-form > * {
    margin-right: 8vh;
}
.register-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form > button {
    width: 100%;
    margin-top: 2vh;
}   
