.login-form {
    margin: 20vh auto !important;
    max-width: 500px;
}
.login-form > * {
    margin-top: 1vh;
}
.login-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form > button {
    width: 100%;
    margin-top: 2vh;
}

.visible-eye:hover {
    cursor: pointer;
    color: rgb(0, 110, 161);
}